@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="parallax_window_in" data-parallax="scroll" data-image-src="@Url.Content("~/Asset/img/header/aboutus.jpg")" data-natural-width="1400" data-natural-height="470">
    <div id="sub_content_in">
        <h1>About Us</h1>
    </div>
</section>

<div class="container_styled_1">
    <div class="container margin_60_35">
        <div class="row">
            <div >
                <h2 class="nomargin_top">About PASA</h2>
                <p class="lead">
                    Physical Activity and Sports
                    Academy (PASA) is an
                    institute that offers a wider
                    variety of courses that suits
                    different age groups.
                </p>
                <p>
                    All these courses are designed
                    according to international
                    standards and carried out
                    taking into account a well
                    planned scientific approach to
                    human physical development
                    by a panel of well qualified
                    and experienced instructors.
                </p>
                <p>
                    Go through this website for
                    more information.
                </p>
                @*<h3>Vision</h3>
                <p>
                    To make the entire
                    population of Sri Lanka
                    physically and mentally
                    balanced persons and
                    converting them in to
                    active, healthy and
                    virtuous citizens.
                </p>
                <h3>Mission</h3>
                <p>
                    To contribute in the upliftment of the life style of
                    people by expediting the
                    Economic Development of
                    our country through bestowing the Nation with healthy,
                    active creative and virtuous
                    people.
                </p>*@
            </div>
            @*<div class="col-md-5 col-md-offset-1 hidden-sm hidden-xs">
                <img src="@Url.Content("~/Asset/img/devices_2.jpg")" alt="" class="img-responsive">
            </div>*@
        </div>
        <!-- End row -->
    </div>
</div>

<div class="container margin_60">
    <h2 class="main_title"><em></em>Meet Our Team</h2>

    <div class="row">
        <div class="owl-carousel team-carousel">

            <div class="team-item">
                <div class="team-item-img">
                    <img src="@Url.Content("~/Asset/img/team/team-1.jpg")" alt="">
                    <div class="team-item-detail">
                        <div class="team-item-detail-inner">
                            <h4>
                                Milroy Jayamanne<br />
                                <small>Chairman</small><br />
                                <small>Physical Activity & Sports Academy SL</small>
                            </h4>
                            <a href="@Url.Content("~/Home/trainer_profile1")" class="btn_1 white">View porfile</a>
                        </div>
                    </div>
                </div>
                <div class="team-item-info">
                    <h4>Milroy Jayamanne</h4>
                    <p>Chairman<br />Physical Activity & Sports Academy</p>
                </div>
            </div>

            <div class="team-item">
                <div class="team-item-img">
                    <img src="@Url.Content("~/Asset/img/team/Sunil Jayaweera.jpg")" alt="">
                    <div class="team-item-detail">
                        <div class="team-item-detail-inner">
                            <h4>
                                Sunil Jayaweera<br />
                                <small>Adviser</small><br />
                                <small>
                                    Former Deputy Director
                                    Genaral (Sports) MOE<br />
                                    Special Adviser (Sports) to the
                                    Minister of Edu.
                                </small>
                            </h4>

                            <a href="@Url.Content("~/Home/trainer_profile2")" class="btn_1 white">View porfile</a>
                        </div>
                    </div>
                </div>
                <div class="team-item-info">
                    <h4>Sunil Jayaweera</h4>
                    <p>
                        Adviser<br />
                        Former Deputy Director
                        Genaral (Sports) MOE<br />
                        Special Adviser (Sports) to the
                        Minister of Edu.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--End Team Carousel-->
</div>

<div class="container margin_60">
    <h2 class="main_title"><em></em>Our Board of the Directors</h2>

    <div class="row">
        <div class="owl-carousel team-carousel">

            <div class="team-item">
                <div class="team-item-img">
                    <img src="@Url.Content("~/Asset/img/team/Ekanayake.jpg")" alt="">
                    <div class="team-item-detail">
                        <div class="team-item-detail-inner">
                            <h4>
                                DR. Lal Ekanayake<br />
                                <small>MBBS/Diploma in Sports and Exercise Medicine</small><br />
                            </h4>
                            <a href="@Url.Content("~/Home/trainer_profile3")" class="btn_1 white">View porfile</a>
                        </div>
                    </div>
                </div>
                <div class="team-item-info">
                    <h4>DR. Lal Ekanayake</h4>
                    <p>MBBS/Diploma in Sports and Exercise Medicine<br />The Presidential award for Best Sports Physician 2017</p>
                </div>
            </div>

            <div class="team-item">
                <div class="team-item-img">
                    <img src="@Url.Content("~/Asset/img/team/team-8.jpg")" alt="">
                    <div class="team-item-detail">
                        <div class="team-item-detail-inner">
                            <h4>
                                Col. DR. S. D. Sooriya Kumara<br />
                                <small>Rtd Senior Lecturer</small><br />
                            </h4>

                            <a href="@Url.Content("~/Home/trainer_profile8")" class="btn_1 white">View porfile</a>
                        </div>
                    </div>
                </div>
                <div class="team-item-info">
                    <h4>Col. DR. S. D. Sooriya Kumara</h4>
                    <p>
                        Rtd Senior Lecturer
                    </p>
                </div>
            </div>

            <div class="team-item">
                <div class="team-item-img">
                    <img src="@Url.Content("~/Asset/img/team/team-9.jpg")" alt="">
                    <div class="team-item-detail">
                        <div class="team-item-detail-inner">
                            <h4>
                                Deshabandu Sriyani Kulawansha <br />
                                <small>Oly Project Officer (Athletics) MOE</small><br />
                                <small>President of Sri Lanka Olympians</small>
                            </h4>

                            <a href="@Url.Content("~/Home/trainer_profile9")" class="btn_1 white">View porfile</a>
                        </div>
                    </div>
                </div>
                <div class="team-item-info">
                    <h4>Deshabandu Sriyani Kulawansha</h4>
                    <p>
                        Oly Project Officer (Athletics) MOE<br />
                        President of Sri Lanka Olympians
                    </p>
                </div>
            </div>

            <div class="team-item">
                <div class="team-item-img">
                    <img src="@Url.Content("~/Asset/img/team/team-10.jpg")" alt="">
                    <div class="team-item-detail">
                        <div class="team-item-detail-inner">
                            <h4>
                                Upathissa Jayasuriya<br />
                                <small>Head of Sports</small><br />
                                <small>Royal International School, Kurunegala</small>
                            </h4>

                            <a href="@Url.Content("~/Home/trainer_profile10")" class="btn_1 white">View porfile</a>
                        </div>
                    </div>
                </div>
                <div class="team-item-info">
                    <h4>Upathissa Jayasuriya</h4>
                    <p>
                        Head of Sports<br />
                        Royal International School, Kurunegala
                    </p>
                </div>
            </div>

            <div class="team-item">
                <div class="team-item-img">
                    <img src="@Url.Content("~/Asset/img/team/team-11.jpg")" alt="">
                    <div class="team-item-detail">
                        <div class="team-item-detail-inner">
                            <h4>
                                Olivia Malini Gamage<br />
                                <small>Former Director of Sports - MOE</small><br />
                                <small>Former Consultant-Sports - MOE</small>
                            </h4>

                            <a href="@Url.Content("~/Home/trainer_profile11")" class="btn_1 white">View porfile</a>
                        </div>
                    </div>
                </div>
                <div class="team-item-info">
                    <h4>Olivia Malini Gamage</h4>
                    <p>
                        Former Director of Sports - MOE<br />
                        Former Consultant-Sports - MOE
                    </p>
                </div>
            </div>

            <div class="team-item">
                <div class="team-item-img">
                    <img src="@Url.Content("~/Asset/img/team/team-12.jpg")" alt="">
                    <div class="team-item-detail">
                        <div class="team-item-detail-inner">
                            <h4>
                                T. M. Devendran<br />
                                <small>Coordinator of Tamil media</small><br />
                                <small>Former Vice President of Vavuniya College of Education</small>
                            </h4>

                            <a href="@Url.Content("~/Home/trainer_profile12")" class="btn_1 white">View porfile</a>
                        </div>
                    </div>
                </div>
                <div class="team-item-info">
                    <h4>T. M. Devendran</h4>
                    <p>
                        Coordinator of Tamil media<br />
                        Former Vice President of Vavuniya College of Education
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--End Team Carousel-->
</div>

<div class="container margin_60">
    <h2 class="main_title"><em></em>Our Coaches Panel</h2>

    <div class="row">
        <div class="owl-carousel team-carousel">

            <div class="team-item">
                <div class="team-item-img">
                    <img src="@Url.Content("~/Asset/img/team/team-2.jpg")" alt="">
                    <div class="team-item-detail">
                        <div class="team-item-detail-inner">
                            <h4>
                                W.M.S. Kumara Wendakoon<br />
                                <small>Physical Training Instructor</small><br />
                                <small>Chief Coach (Volleyball) MOE</small>
                            </h4>

                            <a href="@Url.Content("~/Home/trainer_profile13")" class="btn_1 white">View porfile</a>
                        </div>
                    </div>
                </div>
                <div class="team-item-info">
                    <h4>W.M.S.Kumara Wendakoon</h4>
                    <p>
                        Physical Training Instructor<br />
                        Chief Coach (Volleyball) MOE
                    </p>
                </div>
            </div>

            <div class="team-item">
                <div class="team-item-img">
                    <img src="@Url.Content("~/Asset/img/team/team-3.jpg")" alt="">
                    <div class="team-item-detail">
                        <div class="team-item-detail-inner">
                            <h4>
                                I.P. Pathmalatha <br />
                                <small>Physical Training Instructor</small><br />
                                <small>Chief Coach (Gymnastics/Primary PA) MOE</small>
                            </h4>

                            <a href="@Url.Content("~/Home/trainer_profile14")" class="btn_1 white">View porfile</a>
                        </div>
                    </div>
                </div>
                <div class="team-item-info">
                    <h4>I.P.Pathmalatha</h4>
                    <p>
                        Physical Training Instructor<br />
                        Chief Coach (Gymnastics/Primary PA) MOE
                    </p>
                </div>
            </div>

            <div class="team-item">
                <div class="team-item-img">
                    <img src="@Url.Content("~/Asset/img/team/team-7.jpg")" alt="">
                    <div class="team-item-detail">
                        <div class="team-item-detail-inner">
                            <h4>
                                M.A. Thushara Indika <br />
                                <small>Gymnastic Coach </small><br />
                                <small>National Gymnastics</small>
                            </h4>

                            <a href="@Url.Content("~/Home/trainer_profile7")" class="btn_1 white">View porfile</a>
                        </div>
                    </div>
                </div>
                <div class="team-item-info">
                    <h4>M.A. Thushara Indika</h4>
                    <p>
                        Gymnastic Coach<br />
                        National Gymnastics
                    </p>
                </div>
            </div>

            <div class="team-item">
                <div class="team-item-img">
                    <img src="@Url.Content("~/Asset/img/team/team-5.jpg")" alt="">
                    <div class="team-item-detail">
                        <div class="team-item-detail-inner">
                            <h4>
                                Irosha Lakmini <br />
                                <small>Physical Training Instructor</small><br />
                                <small>Chief Coach (Physical Fitness) MOE</small>
                            </h4>

                            <a href="@Url.Content("~/Home/trainer_profile5")" class="btn_1 white">View porfile</a>
                        </div>
                    </div>
                </div>
                <div class="team-item-info">
                    <h4>Irosha Lakmini</h4>
                    <p>
                        Physical Training Instructor<br />
                        Chief Coach (Physical Fitness) MOE
                    </p>
                </div>
            </div>

            <div class="team-item">
                <div class="team-item-img">
                    <img src="@Url.Content("~/Asset/img/team/team-6.jpg")" alt="">
                    <div class="team-item-detail">
                        <div class="team-item-detail-inner">
                            <h4>
                                P.A.A. Pushpa Kumara <br />
                                <small>Physical Training Instructor</small><br />
                                <small>Chief Coach (Aerobics) MOE</small>
                            </h4>

                            <a href="@Url.Content("~/Home/trainer_profile6")" class="btn_1 white">View porfile</a>
                        </div>
                    </div>
                </div>
                <div class="team-item-info">
                    <h4>P.A.A. Pushpa Kumara</h4>
                    <p>
                        Physical Training Instructor<br />
                        Chief Coach (Aerobics) MOE
                    </p>
                </div>
            </div>

            <div class="team-item">
                <div class="team-item-img">
                    <img src="@Url.Content("~/Asset/img/team/team-4.jpg")" alt="">
                    <div class="team-item-detail">
                        <div class="team-item-detail-inner">
                            <h4>
                                W.S. Nandasiri <br />
                                <small>Physical Training Instructor</small><br />
                                <small>Chief Coach (Football) MOE</small>
                            </h4>

                            <a href="@Url.Content("~/Home/trainer_profile4")" class="btn_1 white">View porfile</a>
                        </div>
                    </div>
                </div>
                <div class="team-item-info">
                    <h4>W.S. Nandasiri</h4>
                    <p>
                        Physical Training Instructor<br />
                        Chief Coach (Football) MOE
                    </p>
                </div>
            </div>

            <div class="team-item">
                <div class="team-item-img">
                    <img src="@Url.Content("~/Asset/img/team/team-15.jpg")" alt="">
                    <div class="team-item-detail">
                        <div class="team-item-detail-inner">
                            <h4>
                                Shiromi Kuruppu<br />
                                <small>Sri Lanka Principal Service</small><br />
                                <small>Chief Coach (Netball) MOE</small>
                            </h4>
                            <a href="@Url.Content("~/Home/trainer_profile15")" class="btn_1 white">View porfile</a>
                        </div>
                    </div>
                </div>
                <div class="team-item-info">
                    <h4>Shiromi Kuruppu</h4>
                    <p>Sri Lanka Principal Service<br />Chief Coach (Netball) MOE</p>
                </div>
            </div>
        </div>
    </div>
    <!--End Team Carousel-->
</div>
